.home {
  width: 100%;
  background-color: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  background-color: #000;
  visibility: hidden;
}

.hero {
  width: 100%;
  min-height: 400px;
  height: 40vh;
  border-radius: 0 0 1rem 1rem;
  background: linear-gradient(90deg, #325d80, #1d1e58);
  padding: 1rem;
  position: relative;
}

.hero header {
  width: 100%;
  z-index: 1;
  height: 70px;
  background: transparent;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  padding: 0 1rem;
}

.hero header i {
  font-size: 20px;
}

.hero header .name {
  width: 70%;
  text-transform: capitalize;
}

.hero .name p {
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.hero .name h3 {
  font-size: 15px;
  font-weight: 600;
}

.hero .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.hero .bottom p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.hero .bottom p i {
  font-size: 25px;
  color: #fff;
}

.hero .bottom h1 {
  padding: 0.2rem 0;
  font-size: 25px;
}

.hero .bottom .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.hero .bottom .button div h3 {
  font-size: 15px;
  text-transform: capitalize;
}

.hero .bottom .button div {
  height: 70px;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}

.hero .bottom .button div:nth-of-type(1) {
  background-color: #000;
  color: white;
}

.hero .bottom .button div:nth-of-type(2) {
  background-color: #fff;
  color: black;
}
.home .quickSend,
.home .history {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  min-height: 200px;
}

.quickSend .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home .quickSend h1,
.home .history h1 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 600;
}

.home .quickSend p {
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.home .quickSend .wrapper {
  padding: 1rem 0;
  width: 100%;
}

.home .quickSend .wrapperSlide {
  width: auto;
}

.home .history h1 {
  width: 100%;
}

.home .history .group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.home .history h3 {
  font-size: 15px;
  font-weight: 600;
}
